@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister &family=Loved+by+the+King&family=Lovers+Quarrel&display=swap');

body {
    background-color: black;
}

h1,
h2 {
    font-family: "Lovers Quarrel", Gadget, sans-serif;
    font-size: 65px;
    color: #FF5C5C;
    text-align: center;
    margin: 0;
}

h2 {
    font-family: "Lovers Quarrel", Gadget, sans-serif;
    font-size: 45px;
    color: #FF5C5C;
    text-align: center;
}

h3 {
    font-family: "Love Ya Like A Sister", Gadget, sans-serif;
    font-size: 25px;
    color: white;
    text-align: center;
}

footer {
    margin-top: 10px;
    font-family: "Love Ya Like A Sister", Gadget, sans-serif;
    font-size: 50px;
    font-size: 15px;
    padding: 15px;
}

.footer-info {
    font-family: "Love Ya Like A Sister", Gadget, sans-serif;
    font-size: 15px;
    color: #FF5C5C;
    text-align: center;
}

.info p {
    color: white;
    padding: 15px;
    font-size: 20px;
}

p {
    font-family: "Loved by the King", Gadget, sans-serif;
    font-size: 16px;
    color: white;
}

.container {
    margin: 0 auto;
    width: 380px !important;
    box-shadow: 4px 4px 11px 3px #7A0000;
    padding: 15px;
}

.calculate {
    background: #7A0000;
    color: white;
    border-color: #FF5C5C;
    font-size: 20px;
    padding: 10px;
}

.calculate:hover {
    background-color: #FF5C5C;
    border-color: #7A0000;
    cursor: pointer;
}

form,
section {
    text-align: center;
}

.invisible {
    display: none;
}

input {
    font-size: 20px;
    background: white;
    color: #7A0000;
    padding: 10px;
    margin: 25px;
}

input:invalid {
    border: 2px dashed White;
}

input:invalid:required {
    background-image: linear-gradient(to right, white, black);
    background-color: white;
}

input:valid {
    border: 2px solid white;
    background-color: #FF5C5C;
    color: white;
}

.result_image{
    width: 200px;
}