.square4 {
  background: salmon;
  border-radius: 5px;
  height: 75px;
  margin: 100px;
  transition: transform 1s;
  width: 75px;
  
  &:hover {
    transform: rotate(90deg) scale(1.75) translateX(50px);
  }
}
  

